 
/* MAKES FOOTER STICK TO PAGE */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(24,26,27);
 
    /* position: absolute; */
}

.row {
    margin: 0;
    background-color: rgb(24,26,27);
    border: 2px, solid;
    border-color: aqua;
    border-style: dotted;

}

#side-navbar {
    width: 20vw;
    display: block;
    margin-right: auto;
    background: rgb(24,26,27);
    border: 1px, solid;
    border-color: aqua;
    border-style: dotted;
}

#results {
    display: block;
    margin-left: auto;
    min-width: 78vw;
    height: 100vh;
}

.r-img {
    width: 400px;
    height: auto;
}


/* main {
    flex: 1 0 auto;
} */

/* CSS FORMAT FOR NAV BAR */
/* header,
main,
footer {
    padding-left: 300px;
    background: grey;
}
@media only screen and (max-width : 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
} */

.title {
   line-height: 50%;
    color:rg(24,26,27);
}

.hide-on-med-and-down {
    background:rgb(236,111,117);
    margin-right: 10%;
   border-radius: 10px;

}