 
/* MAKES FOOTER STICK TO PAGE */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(24,26,27);
 
    /* position: absolute; */
}

p {
    color:white;
    font-size: 1rem;
}


.row {
    margin: 0;
    background-color: rgb(28, 30, 31);
    border: 1px, solid;
    border-bottom-width: .2mm;
    border-bottom-color: rgb(236,111,117);;
    border-bottom-style: ridge;

}

#side-navbar {
    width: 20vw;
    display: block;
    margin-right: auto;
    background: rgb(41, 40, 40);
    border-right: 1px, solid;
    border-right-width: .2mm;
    border-right-color: rgb(236,111,117);
    border-right-style: ridge;
}

#results {
    display: block;
    margin-left: auto;
    min-width: 78vw;
    height: 100vh;
    padding: 2rem;
}

.r-img {
    width: 400px;
    height: auto;
    margin-top: 1.5rem;
}

.event-name-div {
    display: block;
    width: 100%;
    height: 20px;
}

.event-link {
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    
}

.ticket-url {
    font-size: 1rem;
}

#city {
    color: white;
}

#comedian {
    color: white;
}

h4 {
    color: white;
}


/* main {
    flex: 1 0 auto;
} */

/* CSS FORMAT FOR NAV BAR */
/* header,
main,
footer {
    padding-left: 300px;
    background: grey;
}
@media only screen and (max-width : 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
} */

.title {
   line-height: 50%;
    color:rg(24,26,27);
}

.hide-on-med-and-down {
    background:rgb(236,111,117);
    margin-right: 10%;
   border-radius: 10px;

}