 
/* MAKES FOOTER STICK TO PAGE */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(121, 88, 88);
 
    /* position: absolute; */
}

.row {
    margin: 0;
}

#side-navbar {
    width: 20vw;
    display: block;
    margin-right: auto;
}

#results {
    display: block;
    margin-left: auto;
    min-width: 78vw;
    height: 100vh;
}

.r-img {
    width: 400px;
    height: auto;
}


/* main {
    flex: 1 0 auto;
} */

/* CSS FORMAT FOR NAV BAR */
/* header,
main,
footer {
    padding-left: 300px;
    background: grey;
}
@media only screen and (max-width : 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
} */

